# Backend (API) Configuration
PORT=8080
JWT_SECRET=supersecretkey
CORS_ALLOWED_ORIGINS=http://localhost:5173
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=alizzah_db
DB_PORT=5432
SSL_MODE=disable

# Frontend (Platform) Configuration
VITE_API_URL=http://localhost:8080/api
